@import "tailwindcss";

@theme {
  --color-gov-blue-50: #f0f4f8;
  --color-gov-blue-100: #d9e2ec;
  --color-gov-blue-200: #bcccdc;
  --color-gov-blue-300: #9fb3c8;
  --color-gov-blue-400: #829ab1;
  --color-gov-blue-500: #627d98;
  --color-gov-blue-600: #486581;
  --color-gov-blue-700: #334e68;
  --color-gov-blue-800: #243b53;
  --color-gov-blue-900: #102a43;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1a202c;
  background-color: #f7fafc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: block; /* Removed flex since App.jsx handles layout */
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
